node_modules
*.js
!docs/jsdoc/templates/**/*.js
!docs/lib/**/*.js
*.map
dist/
.idea/
coverage/

# emacs backup files
*~
.DS_Store

.vscode/
tsconfig.tsbuildinfo
test-report.html

src/lang/*
!src/lang/MockC.g4

# ignore test file
test.c